<div class="content">
    <mat-form-field>
        <mat-label>Filtrarr: </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. get">
    </mat-form-field>

    <H2>Lista de Métodos:</H2>
    <div style="margin-bottom: 20px;">
        <button mat-mini-fab color="accent" mat-mini-fab aria-label="Novo" (click)="abrirDiagolo()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="f.lista" matSort multiTemplateDataRows class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="idMetodo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id:</th>
                <td mat-cell *matCellDef="let element"> {{element.idMetodo}} </td>
            </ng-container>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição:</th>
                <td mat-cell *matCellDef="let element;">{{element.descricao}} </td>
            </ng-container>
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> Ações:</th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> <button mat-mini-fab color="primary" (click)="incioEditar(i, row)" mat-mini-fab aria-label="Editar">
                        <mat-icon>edit</mat-icon>
                    </button> &nbsp;&nbsp;
                    <button mat-mini-fab color="warn" mat-mini-fab aria-label="Excluir" (click)="excluir(i)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" showFirstLastButtons>

        </mat-paginator>


    </div>
</div>