<div class="content">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Gerador de Entidade:
          </mat-panel-title>
          <mat-panel-description>
            Lista de solicitação:
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <app-lista-gera-entidade></app-lista-gera-entidade>
  
        <mat-action-row>
          <!-- <button mat-button color="warn" (click)="prevStep()">Anterior</button> -->
          <button mat-button color="primary" (click)="nextStep()">Salvar</button>
        </mat-action-row>
      </mat-expansion-panel>
  
    </mat-accordion>
  
  </div>